host: myapp.example.com

annotations:
  nginx.ingress.kubernetes.io/rewrite-target: /
  cert-manager.io/cluster-issuer: "letsencrypt-prod" # Update with your cert-manager issuer

tls:
  enabled: true
  secretName: myapp-tls

# These values can be overridden from the umbrella chart
