apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: spa-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
{{- with .Values.annotations }}
{{- toYaml . | nindent 4 }}
{{- end }}
spec:
{{- if .Values.tls.enabled }}
  tls:
  - hosts:
    - {{ .Values.host }}
    secretName: {{ .Values.tls.secretName }}
{{- end }}
  rules:
  - host: {{ .Values.host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend
            port:
              number: 80
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: backend
            port:
              number: 8000
